/* CSS RESET */

*, *::after, *::before {
   box-sizing:border-box;
}

:root {
   --font-sans:Helvetica, Arial, sans-serif;
   --font-serif:Georgia, serif;

   --color-neutral-lighter:#f0f0f1;
   --color-neutral-light:#e0e0e5; /*#A794D0;*/
   --color-neutral-mediumer:#94949b;
   --color-neutral-medium:#83838f;/* #707070;*/
   --color-neutral-dark:#30304e; /*#3F3E3E;*/

    --color-main-light: #FFFFFF; /*#d5fffe;*/
    --color-main-medium: #AEAEAE; /*#1acfc8;*/
    --color-main-dark: #512D99; /*#1e5452;*/

   --color-white:#fff;
   --color-black:#000;

   --header-height:3rem;
}

body {
   margin:0;
   font-size:100%;
   /*font-family:var(--font-sans);*/
   font-family: 'Quicksand', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
   color:var(--color-main-dark);
   /*font-family:var(--font-serif);*/
   font-family: 'Roboto Slab', serif;
}

/*Dec 1*/
header {
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1.5em;
}


a {
   color:inherit;
   /*font-weight:bold;*/
   text-decoration:none;
   /*font-size: 0.8em;*/
   margin-left: 0.5em;
    font-size: 0.9em;
/*    color: black;*/
}
   a:hover {
      text-decoration: underline;
   }





/* LAYOUT CLASSES */

.container {
   max-width:1000px;
   margin-left: auto;
   margin-right: auto;
}
.hidden { display:none; }
.overscroll {
  height: 100%;
  width: 100%;
  overflow: auto;
}




.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex:none; }

.flex-justify-center { justify-content:center; }
.flex-align-center { align-items:center; }











/* FORMS */

.form-control {
    margin-top: 1em;
    margin-bottom: 1em;
}
.ui-mobile label.form-label {
    margin: 0 1em 0.5em;
    font-size: 0.8em;
    color: var(--color-neutral-mediumer);
}
.form-input {
    width: 100%;
    display: inline-block;
    border-width: 0;
    background-color: var(--color-neutral-lighter);
    padding: 0.5em 1em;
    border-radius: 1.2em;
    font: inherit;
    outline: 0;
}
.form-button {
    width: 100%;
    display: inline-block;
    border-width: 0;
    background-color: var(--color-main-dark);
    padding: 0.5em 1em;
    border-radius: 1.2em;
    font: inherit;
    outline: 0;
    text-align:center;
    color:#e8e8e8;
}
.form-button:hover {
   text-decoration:none;
   cursor:pointer;
}

/*Nov 24*/
input.form-button.signin {
    margin-top: 4em;
}



/* PAGE LAYOUTS */
.ui-mobile .ui-page-active {
   display:flex;
   flex-direction:column;
/*the following codes can make sure that the form are always in the middle of the browser UI*/
   position:fixed;
   width:100%;
   height:100%;
   top:0;
   left:0;
}

/*[ ] in CSS*/

[data-role='main'] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
}
.ui-header,
.ui-footer {
   flex: none;
   /*height:var(--header-height);*/
   height: 6em;
   line-height:var(--header-height);
   border-width:0;
   background-color:var(--color-white);
   box-shadow:0 0 5px rgba(0,0,0,0.15);
   position:relative;
   overflow:hidden;
   font-weight: bolder;
}

.ui-header .ui-title {
   margin:0;
   /*padding:0;*/
   position:absolute;
   top:0;
   left:0;
   /*NOV 18*/
   /*width:35%;*/
   width:100%;
   text-align:center;
   z-index:1;
   /*NOV 18*/
   font-size: 1.5em; 
}

footer {
    font-size: 0.5em;
    border-radius: 27px;
    margin: 10px;
}


/*MAP MODAL*/

div#modal {
    height: 4em;

}


/* NAV */
.ui-footer ul,
.ui-header ul {
   position:relative;
   z-index:2;
   margin:0;
   padding:0;
   display:flex;
   list-style-type:none;
}
.ui-footer li {
   flex: 1 1 auto;
   text-align:center;
}
.ui-footer a,
.ui-header a {
   padding:0 0.5em;
   display:block;
   font-size: 2em;
}
.ui-footer a:hover,
.ui-header a:hover {
   text-decoration:none;
}






/* PAGE SPECIFICS: to make the form in the midddle of the page; */
#signin-page [data-role='main'] {
   display:flex;
   flex-direction:column;
}
#signup-page [data-role='main'] {
   display:flex;
/*   align-items:center;
   justify-content:center;*/
   flex-direction: column;
}
/*#recent-page [data-role='main'] {
   background-image:url('../img/recent_example.jpg');
   background-position:center;
   background-size:cover;
}*/




/*MAP*/
.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*？NOV 18*/
.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: text-bottom;
}
.ui-header .icon {
  vertical-align:middle;
}


/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
    z-index:10; 
    /*don't user a z-index more than 10*/
    pointer-events:none;
}
.modal.active {
    opacity: 1;
    /*pointer-events: initial;*/
}
.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.6);
}
.modal.active .modal-back {
   pointer-events:initial;
}



/* MODAL POPUP */
.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 3em));
    width: 80vmin;
    transition:all 0.3s;
}
.modal.active .modal-popup {
    transform: translate(-50%,-50%);
   pointer-events:initial;
}
.modal-head,
.modal-foot {
    background-color: var(--color-neutral-lighter);
    padding: 0.5em 1em;
}
.modal-body {
    background-color: var(--color-white);
    padding: 1em;
}
.modal-head h1 {
  font-size:1em;
  margin:0;
}





/* MODAL DRAWER */
.modal-drawer {
   position: absolute;
   display: flex;
   flex-direction: column;
   transition: all 0.3s;
   box-shadow:0 0 5px rgba(0,0,0,0.15);
   border-radius: 2em 2em 0 0;
}
.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width:70vw;
}
.modal-drawer.left { left: 0; transform:translateX(-100%); }
.modal-drawer.right { right: 0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   width: 100%;
   height:40vh;
}
.modal-drawer.top { top: 0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform:translate(0);
   pointer-events:initial;
}


.modal-drawer .modal-body {
   flex:1 1 100%;
}



.modal-toast {
  position: absolute;
  width: 100%;
  min-height: var(--header-height);
  background-color: #f5f5f4;
  /*border-radius: 0.2em;*/
  box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
  left: 50%;
  text-align: center;
  padding: 1em;
  transition:all 0.3s;
}
.modal-toast.top {
   /*top:1em;*/
   transform:translate(-50%,-1em);
}
.modal-toast.bottom {
   bottom:1em;
   transform:translate(-50%,1em);
}
.modal.active .modal-toast {
   transform: translate(-50%,0);
   pointer-events:initial;
}


/* FLOATER */
.floater { position: absolute; }
.floater.right { right: 1em; }
.floater.left { left: 1em; }
.floater.top { top: 1em; }
.floater.bottom { bottom: 1em; }


/* FLOATER-FOOTER */
.floater {position: absolute;}
.floater.right { right: 1em; }
.floater.left { left: 1em; }
.floater.top { top: 1em; }
.floater.bottom { bottom: 1em; }




/* CIRCLE */
.btn-circle {
   background-color:#512d99/*var(--color-white)*/;
   color: white;
   width:4rem;
   height:4rem;
   line-height:3rem;
   text-align:center;
   font-size:3.5em;
   border-radius:2em;
   box-shadow:2px 2px 5px rgba(0,0,0,0.15);

}




.modal-close-floater {
    position: absolute;
}
.modal-close-floater.right {
  right:1em;
}
.modal-close-floater.top {
  top:-1em;
  transform: translateY(-100%);
}


/* Profile */
.user-profile-image img {
   width:calc(100vmin - 4em);
   height:calc(100vmin - 4em);
   margin:2em;
   border-radius:50%;

   object-fit:cover;
}




/*SETTINGS*/
.settings-list {
  list-style-type:none;
  padding:0;
  margin:0;
}
.settings-list li {
  padding: 0.5em 1em;

}
.settings-list li:not(:first-child) {
  border-top: 1px solid var(--color-neutral-medium);

  }
.settings-list a{
  display:block;
  position:relative;
}

.settings-list a:not([href:'#'])::after{
  position:absolute;
  content:'>';
  top:50%;
  right:1em;
  transform:translateY(-50%);
}





/* ANIMAL LIST */
.animallist-icon img {
   width: 100px;
   height: 80px;
   vertical-align: text-bottom;
   object-fit: cover;
}
.animallist-item {
   display: flex;
   margin: 1em;
   background-color: #ffffff;
   box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
   border-radius: 1em;
   overflow: hidden;
}
.animallist-description {
   padding:0.5em;
   flex: 1 1 auto;
}
.animallist-name {
   font-size:1.2em;
   padding-bottom: 0em;
}



/*NOV 18 CIRCLE BTN*/
a#list-add {
    /* padding: 1em 0em 4em 2em; */
    padding-left: 1em;
    padding-right: 1.4em;
    padding-top: 1em;
    padding-bottom: 0em;
    color: white;
}



#animal-profile-page [data-role='main'] {
    display: flex;
    flex-direction: column;
}
.profile-top {
    height: 60vh;
    flex: none;
    overflow:auto;
    position:relative;
}
.profile-bottom {
    flex: 1;
    position: relative;
    overflow:auto;
}

/*NOV 12 NOV 28*/
.animal-popup img {
  width: 80px;
}

.animal-popup h2 {
  margin: 0;
}

.animal-popup-description {
  padding: 1em
}



#recent-drawer .modal-drawer {
  margin: 1em;
  width: calc(100% - 2em);
}



.animal-profile {
  padding:1em;
}
.animal-profile-image img {
  width:30vw;
  height:30vw;
  object-fit:cover;
}






/*.animallist {
  margin-top: 6em;
}
*/
/*OPTION*/
select.form-option {
    width: 100%;
    padding: 0.5em;
    margin: 2px 0px 2px 0px;
}

/*SAVE*/
.save-button {
  margin-top: 23px;
}

.cancel-button {
  color: black;
  background-color: #e0e0e5;
}

/*FORM-DEFAULT*/
.form-default {
    width: 100%;
    display: inline-block;
    border-width: 0.5px;
    background-color: white;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    font: inherit;
    outline: 0;
}

hr {
   margin: -15px 0px 20px;
   color:white;
}

.profile {
    text-align: center;}

a.profile-ui-link {
    float: right;
    padding-right: 3em;
  }

.container {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-block-start: 1em;
    /*margin-left: 1em;*/
    margin-right: 2em;
}

/*aftermidterm*/
/*user settings*/
h3 {
    font-size: 1.5em;
    text-align: center;
    color: #A794D0;
}
a.change-password.ui-link {
    margin-left: 1em;
    font-size: 0.9em;
    color: black;
}

hr#user-settings-hr {
    margin: 0px;
    color: --color-neutral-lighter;
    color: #AEAEAE;
}
}
a.js-logout.ui-link {
    text-decoration: none;
    position: 3em;
}
h4.Logout {
    margin-left: 1em;
}
a#update {
    margin-left: auto;
    margin-right: auto;

/*animal profile*/
.animal-profile-item {
    display: flex;
    margin: 1em;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    border-radius: 1em;
    overflow: hidden;
    padding: 1em;
}
th {
    font-size: 1.5em;
}
.animal-profile-context {
    font-size: 1.1em;
    font-weight: bold;
}

.animal-profile-image img {
  width:calc(60vmin - 4em);
  height:calc(60vmin - 4em);
  /*height :calc(100vmin - 4em);  the space matters!!!*/
  margin:4em 6em 2em 6em;;
  border-radius:28%;
  object-fit:cover;
}